.defect-content {
    font-family: 'Inter', sans-serif;
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: calc(100% - 80px);
}

.defect-title {
    letter-spacing: -1px;
    font-family: monospace;
    font-weight: 600;
    margin-bottom: 10px;
    margin-top: 20px;
}

.extrusion-text {
    font-family: monospace;
    letter-spacing: -1px;
    font-size: 20px;
    margin-bottom: 10px;
    margin-top: 5px;
}

.defect-button {
    background-color: #EBF0EB;
    color: #61875E;
    font-size: 16px;
    font-weight: 600;
    padding: 15px 20px;
    border-radius: 15px;
    border: none;
    cursor: pointer;
    margin-bottom: 20px;
    width: 500px;
    margin-top: 20px;
}

.result-evaluation-container {
    width: 100%;
    justify-content: center;
    margin-top: 15px;
}

.result-evaluation-menu {
    display: flex;
    flex-direction: column;
    align-items: center;
    max-width: 400px;
    padding: 15px;
    background-color: #f9f9f9;
    border-radius: 10px;
    box-shadow: 0 3px 5px rgba(0, 0, 0, 0.1);
}

.result-evaluation-title {
    font-size: 20px;
    margin-top: 0;
    margin-bottom: 15px;
    text-align: center;
}

.rating-scale {
    display: flex;
    justify-content: space-between;
    width: 100%;
    margin-bottom: 8px;
}

.rating-circle {
    width: 40px;
    height: 40px;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    color: white;
    font-weight: bold;
    font-size: 16px;
    transition: transform 0.2s, border 0.2s;
}

.rating-circle:hover {
    transform: scale(1.1);
}

.rating-circle.selected {
    transform: scale(1.15);
}

.rating-labels {
    display: flex;
    justify-content: space-between;
    width: 100%;
    color: #666;
    font-size: 12px;
}

.rating-labels span:first-child {
    margin-left: 5px;
}

.rating-labels span:last-child {
    margin-right: 5px;
}

.feedback-thanks {
    font-size: 14px;
    color: #333;
    margin-top: 10px;
    text-align: center;
}

@media (max-width: 600px) { 
    .result-evaluation-menu {
        max-width: 320px;
        padding: 10px;
    }
    .result-evaluation-title {
        font-size: 16px;
    }
    .rating-circle {
        width: 30px;
        height: 30px;
        font-size: 12px;
    }
    .rating-labels {
        font-size: 10px;
    }
}
